.dark-bg {
  /* background-image: url(https://assets.website-files.com/5b345e257baa7fe9f269c3da/5b345e4e8485e0060be11eab_bg.png),
    -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)); */
  /* background: #333; */
  background-position: 50% 0, 0 0;
}
.lg-p-rtl-15{
  padding-right: 15%;
}
.lg-p-ltr-15{
  padding-left: 15% !important;
}
.restaurant-pack.package-tabs>.ant-tabs-bar {
  margin: 0 0 16px 0;
  border: 1px dashed #bfbfbf !important;
  outline: none;
  background: #ffffff !important;
  color: #000;
  border-radius: 38px !important;
}

.package-tabs.restaurant-pack {
  position: relative;
  top: -50px;
}

.restaurant-pack>.ant-tabs-bar>.ant-tabs-nav-container {
  color: #333333;
}

.country-name {
  font-size: 16px !important;
  font-weight: 400;
  margin-top: 0px !important;
}

.country-flag {
  width: 25px;
}
/* 
.slick-slide.slick-active.slick-center.slick-current {
  transform: scale(1.15);
} */

.screenshots-container {
  transform: scale(0.9);
}

.priceing-card-horizontal {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 2px #ccc;
}

.facility-lists {
  list-style-type: none;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.client-screen {
  /* transform: rotate(-15deg); */
  padding: 15px;
  width: 210px;
}

.clientele-logo-name>p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 0px;
}

.clientele-logo-name>img {
  width: 220px;
  height: auto;
}

.clientele-logo-name {
  text-align: center;
}

.clientele-screenshots {
  text-align: center;
}

.clientele-box {
  padding: 25px;
  /* background-image: linear-gradient(#03A9F4, transparent); */
  background-image: linear-gradient(#03A9F4, #00BCD4);
  box-shadow: 0px 0px 2px #ccc;
}

.clientele-box-header {

  position: relative;
  width: 110%;
  height: 60px;
  margin: -25px;
  background: #fff;
  text-align: left;
}

.banner-clients {
  height: 650px;
  min-height: 650px;
}

/* Video Player */

.ant-anchor-ink {
  display: none;
}

.ant-anchor-wrapper {
  margin-left: -4px;
  padding-left: 4px;
  overflow: auto;
  background-color: unset;
  width: 100%;
}

.ant-anchor-link {
  padding: 0px;
  line-height: 1;
}

ul.ant-menu.Product-Menu {
  background: #ffffff;
  /* box-shadow: 0px 12px 10px #00000052; */
  box-shadow: 0px 1px 5px #00000032;
  margin-top: 25px;
}

.getin-touch-form {
  padding: 60px 15px;
  /* background: #fff; */
  background: transparent;
}

.video-footer-container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  border-radius: 3px;
  background: #53defd;
  border: 3px solid #333;
  margin-bottom: -35px !important;
}

.video-play-button {
  min-width: 60px !important;
  min-height: 60px !important;
  font-size: 35px !important;
  position: absolute !important;
  border-radius: 50%;
  padding-left: 5px !important;
  border: none !important;
  left: 52% !important;
  box-shadow: 0px 0px 10px 5px #00bcd438 !important;
  top: 43%;
  color: #fff !important;
  background: #333;
}

.video-play-button:hover,
.video-play-button:focus {
  background: #000;
  color: #00BCD4 !important;
}

@media screen and (max-width:480px) {
  
  .video-play-button{
      left: 42% !important;
      top: 28%!important;
  }
}
.video-modal>.ant-modal-content>.ant-modal-body {
  padding: 0px !important;
}

.faclity-sub-text {
  max-width: 450px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.ant-modal.video-modal {
  width: 100% !important;
  max-width: 800px;
}

.react-player__preview {
  min-height: 450px;
}

.home-feature-img>img {
  position: relative;
  top: 150px !important;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 500px !important;
}

.main.new-banner>img {
  top: 60px !important;
}

.benifits-tabs>.ant-tabs-bar {
  margin: 0 0 16px 0;
  border-bottom: 0px solid #e8e8e8;
  outline: none;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.home-feature-img {
  text-align: center;
}

.tagline-heading {
  text-align: left;
  padding-left: 0px !important;
  padding-top: 25%;
}

.tagline-heading.new-banner {
  text-align: left;
  padding-left: 0px !important;
  padding-top: 20%;
}

.homepage-section-2 {
  background: #fcfcfc;
  margin-top: 150px;
  padding: 20px 0px;
  margin-bottom: 0px;
}

.lg-rtl {
  text-align: right;
}

.lg-float-right {
  float: right;
}

.lg-ltr {
  text-align: left;
}

.lg-float-left {
  float: left;
}

.UAF-power-icon-container {
  max-width: 170px;
  text-align: center;
  margin: 0 auto;
}

.UAF-power-icon-container>img {
  width: 100px;
  height: 100px;
}

.UAF-power-icon-container>p {
  font-size: 14px;
  margin-top: 10px;
}

.industry-card {
  background: #fcfcfc;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
}

.industry-card>p {
  color: #333333a3;
}

.industry-card:hover {
  background: #585858;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}

.industry-card:hover>p {
  color: #00bcd4;
}
.multivendorBuild-card{
  background: #fcfcfc;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
}

.multivendorBuild-card>p {
  color: #333333a3;
}

.multivendorBuild-card:hover {
  transform: scale(1.1);
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}

.multivendorBuild-card:hover>p {
  /* color: #00bcd4; */
}

.package-tabs>.ant-tabs-bar {
  margin: 0 0 16px 0;
  border: 1px dashed #bfbfbf !important;
  outline: none;
  background: #6d6d6d !important;
  color: #fff;
  border-radius: 3px !important;
}

.UAF-container-fluid {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.banner-user {
  height: 700px;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .lg-p-rtl-15{
    padding-right: 0%;
  }
  .lg-p-ltr-15{
    padding-left: 0%;
  }
  .UAF-container-fluid {
    width: 95%;
    max-width: 1200px;
    margin: auto;
  }

  .faclity-sub-text {
    max-width: 100%;
    text-align: center !important;
  }

  .banner-user {
    height: 100vh;
  }

  .tagline-heading.new-banner>.texty-demo {
    font-size: 25px;
  }

  .new-banner>.text-demo-sub-text {
    font-size: 14px !important;
    font-weight: 500;
  }
  .client-screen {
    /* transform: rotate(-15deg); */
    padding: 15px;
    width: 50%;
    max-width: 180px;
  }
  .clientele-logo-name>img{
    max-width: 120px;
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {

  .lg-p-rtl-15{
    padding-right: 0%;
  }
  .lg-p-ltr-15{
    padding-left: 0%;
  }
  .package-tabs.restaurant-pack {
    position: relative;
    top: 10px;
  }

  .client-screen {
    /* transform: rotate(-15deg); */
    padding: 15px;
    width: 50%;
    max-width: 182px;
  }

  .m-dir-ltr {
    direction: ltr;
  }

  .m-align-left {
    text-align: left !important;
  }


  .home-feature-img>img {
    position: unset;
  }

  .tagline-heading {
    padding-top: 0%;
  }

  h1.ant-typography.text-demo-sub-text.lg-ltr {
    text-align: center;
    margin: 20px auto;
    font-weight: 400 !important;
  }

  .tagline-heading.sub-points {
    margin: 0 auto;
    text-align: center;
    padding-top: 30px !important;
  }

  .banner-user {
    height: 100vh;
  }

  .main.new-banner>img {
    top: -30px !important;
  }

  .tagline-heading.new-banner {
    text-align: left;
    padding-left: 0px !important;
    padding-top: 0px !important;
  }

  .UAF-power-icon-container>p {
    font-size: 13px;
    margin-top: 0px;
  }

  .UAF-power-icon-container>img {
    width: 80px;
    height: 80px;
  }

  .industry-card {
    padding: 15px 15px 15px 15px;
    border-radius: 2px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }

  .industry-card>p {
    color: #333333a3;
    margin-top: 2px !important;
  }

  .industry-card>img {
    width: 60px !important;
    height: 60px !important;
  }

  .industry-card:hover {
    background: #585858;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }

  .multivendorBuild-card {
    padding: 15px 15px 15px 15px;
    border-radius: 2px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }

  .multivendorBuild-card>p {
    color: #333333a3;
    margin-top: 2px !important;
  }

  .multivendorBuild-card>img {
    width: 60px !important;
    height: 60px !important;
  }

  .multivendorBuild-card:hover {
    transform: scale(1.1);
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }

  .UAF-container-fluid {
    width: 95%;
    margin: 0 auto;
  }

  .m-center {
    text-align: center;
  }

  .home-feature-img.main {
    margin-top: 80px;
  }

  .homepage-section-2 {
    background: #fcfcfc;
    margin-top: 50px;
    padding: 50px 15px;
    text-align: center;
    margin-bottom: 50px;
  }

  .lg-rtl {
    text-align: center;
    display: block !important;
  }

  .lg-float-right {
    float: unset;
  }

  .lg-ltr {
    text-align: center;
    display: block !important;
  }

  .lg-float-left {
    float: unset;
  }
}

span.benifit-tabs-tab {
  font-size: 18px;
  font-weight: 600;
}

.ant-tabs.ant-tabs-top.benifits-tabs.ant-tabs-line {
  text-align: center;
}
.uaf_crppage_artable .ant-table table{
  text-align: right;
  margin-top: 3rem;
}
.uaf_crppage_entable .ant-table table{
  margin-top: 3rem;
}
.uaf_crppage_artable .ant-table-thead tr th{
  text-align: right;
}