.homeMain {
    margin: auto;
    margin-top: 90px;
    width: 100%;
    /* max-width: 1920px; */
    overflow-x: hidden;
    background: #ffffff;
}

.outermain {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0px;
}

.innermain {
    align-self: center;
}

.blockInner {
    text-align: center;
}

.blockInnerLeft {
    width: 100%;
    background: #53BDDB;
    padding: 3rem;
    height: calc(100Vh - 90px) !important;
}

.blockInnerright {
    width: 100%;
    background: #F3E508;
    padding: 3rem;
    height: calc(100Vh - 90px) !important;
}

.blockInnerLeft h1 {
    text-align: left;
    color: #ffffff;
    font: normal normal 500 70px Proxima Nova;
    letter-spacing: 2px;
    margin: 0;
}

.blockInnerLeft p {
    text-align: center;
    color: #ffffff;
    font: normal normal 400 20px Proxima Nova;
    position: relative;
    top: -20px;
    margin: 0;
}

.blockInnerright h1 {
    text-align: right;
    color: #191919;
    font: normal normal 500 70px Proxima Nova;
    letter-spacing: 2px;
    margin: 0;
}

.blockInnerright p {
    text-align: center;
    color: #191919;
    font: normal normal 400 20px Proxima Nova;
    position: relative;
    top: -20px;
    margin: 0;
}

.blockInnerLeft .blockimgOuter {
    text-align: center;
    position: relative;
    top: -60px;
    height: 420px;
}

.blockInnerright .blockimgOuter {
    text-align: center;
    position: relative;
    /* height: 420px; */
}

/* .blockInnerright .blockimgOuter img {
    margin-top: 13%;
} */

.blockimgOuter img {
    max-height: 420px;
    max-width: 100%;
}

@media only screen and (max-device-width:1024px) {
    .blockimgOuter img {
        max-height: 370px;
    }
    /* .blockInnerright .blockimgOuter img {
        margin-top: 22%;
    } */
    .blockInnerLeft .blockimgOuter {
        height: 390px;
    }
    .blockInnerLeft, .blockInnerright {
        height: 560px;
    }
    .blockInnerright .blockimgOuter {
        height: 370px;
    }
    .blockInnerLeft p {
        top: -40px;
    }
    .blockInnerLeft h1, .blockInnerright h1 {
        font: normal normal 500 55px Proxima Nova;
    }
}

@media only screen and (max-device-width:768px) {
    .outermain {
        margin-bottom: 0;
    }
    .innermain {
        margin-bottom: 10px;
        text-align: center;
    }
    .blockInnerLeft .blockimgOuter, .blockInnerLeft p {
        position: inherit;
        height: auto;
    }
    .blockInnerLeft h1, .blockInnerright h1 {
        text-align: center;
    }
    .blockInnerLeft .blockimgOuter img {
        margin: 2rem auto;
    }
    .blockInnerLeft, .blockInnerright {
        height: auto;
        min-height: 620px;
    }
    .blockInnerright .blockimgOuter {
        height: 430px;
    }
    .blockInnerright .blockimgOuter img {
        /* margin-top: 14%; */
    }
}

@media only screen and (max-device-width:430px) {
    .blockInnerright .blockimgOuter img {
        /* margin-top: 25%; */
        max-width: 500px;
    }
    .blockInnerright p {
        max-width: 60%;
        margin: auto;
    }
}